# Practical session 1 - Some Python basics

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/XinranHf)) Charline Huangfu

```
conda create --name=lab1 --file=requirement.txt 
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
````

In [2]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [ ]:
def power (x,p):
    return x**p

power(4,8)

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [ ]:
def euclidian_division(a,b):
    q = a//b
    print(f'The quotient of {a} by {b} is :', q)
    r = a%b
    print(f'The remainder of {a} by {b} is :', r)

euclidian_division(17,3)

The quotient of 17 by 3 is : 5
The remainder of 17 by 3 is : 2

Create two integer variables `a, b` of your choice and swap their content.

In [ ]:
a = 0
b = 1

c = a
a = b
b = c
print (a, b)

1 0

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [ ]:
print(a)
a *= 2
print(a)

1
2

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [ ]:
z = complex(3,4)
print (f'( real =', z.real, 'imag =', z.imag, ")")

( real = 3.0 imag = 4.0 )

## Strings

Propose two ways to define an empty string

In [ ]:
empty_string = ""

empty_string2 = str()

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [5]:
import string
alphabet = string.ascii_lowercase
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [6]:
alphabet_list = list(alphabet)
alphabet_list

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
print("The 12th letter of the alphabet is :")
print(alphabet_list[11]) # index start from 0

print ("The 10 last letter of the alphabet are:")
print(alphabet_list[-10:])

print("The 5th to the 10th letter of the alphabet are:")
print(alphabet_list[4:10])

The 12th letter of the alphabet is :
l
The 10 last letter of the alphabet are:
['q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
The 5th to the 10th letter of the alphabet are:
['e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
alphabet_upper = alphabet.upper()
alphabet_upper

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [23]:
x= 2341324530045968

y= str(x)
z = y[:4]

first_digit = int(z)
first_digit

2341

## Lists

Propose two ways to define an empty list.

In [ ]:
empty_list = []

empty_list2 = list()

Create the list of consecutive integers from 5 to 11.

In [ ]:
list_between = [i for i in range (5,12)]
list_between

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [ ]:
list_between.append(100)
print(list_between)

[5, 6, 7, 8, 9, 10, 11, 100]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [ ]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]

In [ ]:
sdia = x[2][1][2][0]
print(sdia)

aids= sdia[::-1]
print(aids)

x[2][1][2] = aids

x

sdia
aids

[10, [3, 4], [5, [100, 200, 'aids'], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [8]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [9]:
print("The first 2 items are :")
print(x[:2])

print("The last two items are :")
print(x[-2:])

The first 2 items are :
[3, 7]
The last two items are :
[3, 1]

In [ ]:
index = 0
while x[index] != 9 :
    index +=1

print("The index of the first occurence of 9 is:", index)

The index of the first occurence of 9 is: 11

In [ ]:
x[1::2] # start from index 1 with a step = 2

[7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

## Tuples


Propose two ways to define an empty tuple.

In [ ]:
empty_tuple = ()

empty_tuple2 = tuple()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [11]:
x = ([1, 2, 3], 4)

In [12]:
copy = list(x) # convert the tuple into list in order to modify it
copy[1] = 8

x = tuple(copy)
x

([1, 2, 3], 8)

In [13]:
copy[1] **=8

x = tuple(copy)

What is the main difference between a list and a tuple?

The main difference between a liste and a tuple is that :
Tuples are **immutable** objects and lists are **mutable** objects.

## Sets

Create an empty set

In [ ]:
empty = set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [ ]:
a = {1,2,3}
b = {2,4,5,6}

a.intersection(b)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [ ]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [ ]:
add = {4,5,6}
x.update(add)
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
x.remove(1)
x.remove(2)
x.remove(3)
x

{0, 6, 7, 8, 9, 10}

## Dictionnaries

Propose two ways to define an empty dictionary

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

Given the following dictionary, use indexing to get to the word `"sdia"`

In [ ]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [ ]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [ ]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [ ]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```